version: "3.7"
services:
  api:
    container_name: api
    build: ./api
    command: bash -c 'while !</dev/tcp/db/3002; do sleep 1; done; npm start'
    environment:
      - CONNECTION_STRING=postgres://demo_user:demo_user@db/demo_db
    depends_on:
      - db
    networks:
      - network-api
      - network-web
  webapp:
    container_name: web
    build: ./web
    environment:
      - API_URL=http://api:3002/data
    depends_on:
      - api
    ports:
      - "80:3000"
    networks:
      - network-web
  db:
    image: postgres:11.2-alpine
    container_name: DB
    environment: 
      POSTGRES_PASSWORD: demo_password
      POSTGRES_USER: demo_user
      POSTGRES_DB: demo_db
    volumes:
      - ./init_sql_scripts/:/docker-entrypoint-initdb.d
    networks:
      - network-api
networks:
  network-api:
  network-web: